<div class="menu-list" *ngIf="menu">
    <div 
        *ngFor="let m of menu.list"
        class="menu">
        <img 
            (click)="selectMenu(m)"
            class="menu__photo" [src]="m.photo" alt="">
        
        <label class="menu__name">{{m.name}}</label>
        <label class="menu__price">
            <span [innerHTML]="m.price | currency"></span>
        </label>

    </div>
    <div *ngIf="menu.list.length === 0">
        No results found.
    </div>
</div>
<a 
    *ngIf="moreToLoad"
    class="showmore" 
    (click)="showMore()">show more...</a>

