<ul class="food" *ngIf="foods">
    <ng-container *ngFor="let food of foods;let i = index">
        <li>
            <span class="food__quantity">( {{count(food._id)}} )</span> {{food.name}}

            <app-food-variant-select 
                *ngIf="food.variants.length > 0"
                [food]="food"
                [readonly]="false" 
            ></app-food-variant-select>             
            <span 
                class="food__additional {{!food?.variant?.additional ? 'food__additional--without' : ''}}" 
                [innerHTML]="food?.variant?.additional | currency"></span>
        <li>         
    </ng-container>
</ul>  