.food{
    list-style: none;
    margin-bottom: .5rem;
    border-bottom: 1px dashed #ddd;
    padding-bottom: .5rem;

    li{
        line-height: 2rem;
        font-size: 1.5rem;
        position: relative;
        display: flex;
        align-items: center;
        
        app-food-variant-select{
            margin-left: .5rem;
        }
        .additional{
            position: absolute;
            right: 0;
            font-size: 1.2rem;
            color: #fe491a;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
        }
    }
}