 .addons{
    list-style: none;
    margin-bottom: .5rem;
    border-bottom: 1px dashed #ddd;
    padding-bottom: .5rem;

    li{
        line-height: 2.5rem;
        font-size: 1.5rem;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        
        app-food-variant-select{
            margin-left: .5rem;
        }
    }

    &__additional{
        text-align: right;
        flex:1;
        color: #fe491a;
        font-size: small;

        &::before{
            content: '+';
            display: inline-block;
            margin-right: .25rem;
        }

        &--without{
            display: none;
        }
    }

    &__remove{
        background-color: #ff3232;
        width: 1.4rem;
        height: 1.4rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        margin-right: .5rem;
    }
}