<ul class="addons"> 
    <li *ngFor="let addon of addons;let i = index">
        
        <a class="addons__remove" (click)="remove(i)">x</a>
        <span class="addons__quantity">( {{addon.quantity}} )</span>

        {{addon.food.name}}
        
        <app-food-variant-select 
            *ngIf="addon.food.variants.length > 0"
            [food]="addon.food"
            [readonly]="false" 
        ></app-food-variant-select> 

        <span 
            class="addons__additional" 
            [innerHTML]="addOnTotalPrice(addon) | currency"></span>
    </li> 
</ul> 