<div class="messages">
        <div class="messages__title">
            <h1>Messages</h1>   
        </div>  
        <div class="messages__conversations">
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Hello</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Hi</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>How are you?</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Test the quick</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Brown fox jumps over the lazy dog.Brown fox jumps over the lazy dog.Brown fox jumps over the lazy dog.Brown fox jumps over the lazy dog.</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>What about you?</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Sample conversation</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Lorem ipsum dolor.</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Thank you.</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Hello</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Hi</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>How are you?</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Test the quick</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Brown fox jumps over the lazy dog.</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>What about you?</div>
            <div class="messages__from-user"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Sample conversation</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Lorem ipsum dolor.</div>
            <div class="messages__from-admin"><span class="messages__timestamp">Thu, 5 Sep, 12:58 PM</span>Thank you.</div>
        </div>
        <div class="messages__box">
            <textarea></textarea>
            <app-button type="primary">Send</app-button>
        </div>
</div>