.menu{
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    flex-flow: column;

    &__photo{

        background: #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        img{
            width: 50%;
            align-self: flex-start;
            margin: auto;
        }
    }

    &__details{
        font-size: 1.5rem; 
        flex: 1;
        position: relative;
    }

    &__name{
        font-weight: 500;
        padding: 0.5rem 0;
        display: inline-block;
        border-bottom: 1px dashed #ddd;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__price{
        color: #fe491a;
        display: block; 
        text-align: right;
        font-weight: 500;
    } 

    &__order-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__delivery-date{
        width: 12.5rem;
    }
}