<div class="menu" *ngIf="menu">
    <div class="menu__photo">
        <img [src]="menu.photo">
    </div>

    <div class="menu__details">
    
        <app-menu-foods [foods]="menu.foods"></app-menu-foods>
        <app-addon-select></app-addon-select>
        <app-menu-addons></app-menu-addons> 

        <div class="menu__order-info">
            <span>
                <ng-container *ngIf="!readonly">
                    Date:
                    <input class="menu__delivery-date" type="date">         
                </ng-container>
            </span>
            <label class="menu__price">
                = <span [innerHTML]="totalPrice | currency"></span> 
            </label>
        </div>
    </div>
</div>